# Compilados
*.o
*.out
heat_serial
heat_omp
heat_mpi

# Datos y Gráficas (pueden ser pesados)
output/*.csv
output/*.png
output/*.mp4

# Entornos virtuales de Python
uwu/
venv/
.venv/
__pycache__/

# Sistema
.DS_Store
